html, body {
    margin: 0;
    height: 100%;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.button-container {
    border-bottom: 5px;
}

.container-fluid {
    border: 1px solid black;
}

.image-container {
    margin: 5px auto;
}

.input-container {
    border: 1px solid white;
    background-image: url(../images/what-the-hex/what-the-hex.png);
    border-radius: 2px;
    width: 40%;
    padding: 2px;
    }

button {
    border-radius: 2px;
    margin: 0 2px;
    background-color: teal;
    color: white;
}

img {
    width: 30%;
}